@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$primary: #9356dc;
$secondary: #ff79da;
$green: #99e2d0;
$green2: #008766;
$black: #101010;
$grey: #353535;
$grey2: #eaeaea;
$white: #ffff;
$white2: #f6f6f6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  color: $black;
}

.loader {
  position: fixed;
  height: 120%;
  top: -50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  background: $black;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%, 0% 90%);
  z-index: 999;
  animation: loaderHide 1s 3s cubic-bezier(1, -0.105, 0.72, 1.65) forwards;

  @keyframes loaderHide {
    100% {
      transform: translateY(-100%);
    }
  }

  .wineglass {
    height: 36px;
    position: relative;
  }

  .wineglass:after {
    content: "";
    position: absolute;
    top: 47px;
    left: 5px;
    width: 20px;
    height: 5px;
    background: $white;
    box-shadow: 0 0 1px $white;
  }

  .top {
    background: $white;
    width: 30px;
    height: 36px;
    border-radius: 0 0 36px 36px;
  }

  .top:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, $primary 50%);
  }

  .left .top:before {
    animation: rotate2 2s linear infinite;
  }

  .right .top:before {
    animation: rotate1 2s linear infinite;
  }

  .top:after {
    content: "";
    position: absolute;
    top: 35px;
    left: 12px;
    width: 6px;
    height: 13px;
    background: $white;
    box-shadow: 0 0 1px $white;
  }

  .left {
    display: inline-block;
    margin-right: 10px;
    animation: rotate1 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
  }

  .right {
    display: inline-block;
    animation: rotate2 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
  }

  @keyframes rotate1 {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(22deg);
    }
  }

  @keyframes rotate2 {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(-22deg);
    }
  }
}

header {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  nav {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;

    .logo {
      width: 160px;
    }
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 50%;
    background: $grey2;
  }
}

main {
  .title__container {
    width: 100%;
    padding: 10vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: $white2;

    h1,
    .alt__title {
      text-align: center;
    }

    .alt__title {
      color: $grey;
    }

    button {
      padding: 15px 25px;
      background: linear-gradient(193deg, $primary -11.44%, $secondary 123.93%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      color: $white;
      transition: all 5s ease;

      &:hover {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.15) 100%
          ),
          linear-gradient(201deg, $primary -5.2%, $secondary 110.74%);
      }
    }
  }

  .operation {
    width: 100%;
    padding: 5vh 3vw;

    h3 {
      margin-bottom: 2vh;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3vh;
      padding-left: 10px;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        padding: 15px 25px;
        background: $white2;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        white-space: nowrap;
        position: relative;
      }

      .bubble {
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background: $primary;
        color: $white;
      }
    }

    @media screen and (min-width: 860px) {
      ul {
        flex-direction: row;
      }
    }
  }

  .restaurants {
    width: 100%;
    padding: 5vh 3vw;
    background: $white2;

    h3 {
      margin-bottom: 2vh;
    }

    .card__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3vh;

      .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        border-radius: 15px;
        background: $white;
        overflow: hidden;
        text-decoration: none;
        position: relative;
        
        img {
          width: 100%;
          height: 70%;
          object-fit: cover;
          transition: transform .3s ease;
        }

        .content {
          width: 100%;
          padding-left: 20px;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          position: relative;

          h4,
          p {
            margin: 0;
            padding: 0;
            color: $black;
          }

          .heart {
            position: absolute;
            top: 25%;
            right: 20px;
            height: 25px;
            width: 25px;
            background-image: url("../imgs/icons/Like.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-image: url("../imgs/icons/Like-full.svg");
            }
          }
        }

        .new {
          position: absolute;
          top: 15px;
          right: 15px;
          padding: 10px 15px;
          border-radius: 2px;
          background: $green;
          color: $green2;
          z-index: 10;
        }

        &:hover img{
          transform: scale(1.02);
        }
      }
    }

    @media screen and (min-width: 860px) {
      .card__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

footer {
  width: 100%;
  background: $grey;
  color: $white;
  padding: 5vh 3vw;

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .logo-footer {
      margin-bottom: 10px;
    }

    .links__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  @media screen and (min-width: 860px) {
    .footer__wrapper {
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      .links__container{
        flex-direction: row;
      }
      .logo-footer{
        margin-bottom: 0;
      }
    }
  }
}
