@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
$primary: #9356dc;
$secondary: #ff79da;
$green: #99e2d0;
$green2: #008766;
$black: #101010;
$grey: #353535;
$grey2: #eaeaea;
$white: #ffff;
$white2: #f6f6f6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  color: $black;
}

header {
  nav {
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo {
      width: 160px;
    }

    .back {
      position: absolute;
      left: 3vw;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .hero {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  .menu__wrapper {
    width: 100%;
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 3vw 5vh;
    background: $white2;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -25px;
      width: 100%;
      height: 30px;
      border-radius: 40px 40px 0px 0px;
      background: $white2;
    }

    .title__wrapper {
      width: 100%;
      max-width: 634px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10vh;

      h1 {
        font-family: "Shrikhand", serif;
        font-size: clamp(20px, 5vw, 32px);
      }

      .heart {
        height: 25px;
        width: 25px;
        background-image: url("../imgs/icons/Like.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-image: url("../imgs/icons/Like-full.svg");
        }
      }
    }

    .menu {
      width: 100%;
      max-width: 634px;
      margin-bottom: 5vh;

      h2 {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 3vh;
        font-size: clamp(18px, 5vw, 28px);
        position: relative;

        &::after {
          position: absolute;
          content: "";
          bottom: -10px;
          left: 0;
          width: 60%;
          height: 2px;
          background: $green;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;

        li {
          width: 100%;
          height: 8vh;
          list-style-type: none;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          background: $white;
          box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transform: translateX(-10%);
          opacity: 0;
          animation: slideIn 0.3s linear forwards;
          animation-delay: calc(0.3s * index);

          .card__content {
            width: 100%;
            padding: 15px;
            position: relative;
            font-size: clamp(12px, 2vw, 18px);
            transition: width .3s ease;

            h3, p{
                max-width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .price {
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          .added-img {
            background-image: url(../imgs/icons/Select-button.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 0;
            aspect-ratio: 1;
            transition: all 0.3s ease;
          }

          &:hover .added-img {
            width: 35px;
          }

          &:hover .card__content{
            width: 80%;
          }

          @media screen and (min-width: 1020px){
            &:hover .card__content{
              width: 100%;
            }
          }

          @keyframes slideIn {
            to {
              transform: translateX(0);
              opacity: 1;
            }
          }

          $delay: 0.3s;
          @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
              animation-delay: $delay * $i;
            }
          }
        }

    }
}

    button {
      padding: 15px 55px;
      background: linear-gradient(193deg, $primary -11.44%, $secondary 123.93%);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      color: $white;

      &:hover {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.15) 100%
          ),
          linear-gradient(201deg, $primary -5.2%, $secondary 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

footer {
  width: 100%;
  background: $grey;
  color: $white;
  padding: 5vh 3vw;

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .logo-footer {
      margin-bottom: 10px;
    }

    .links__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }

  @media screen and (min-width: 860px) {
    .footer__wrapper {
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      .links__container{
        flex-direction: row;
      }
      .logo-footer{
        margin-bottom: 0;
      }
    }
  }
}
